

/* div>*{
    display: inline;
} */

/* #home{
    height: 100vh;
    background-color: aqua;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "clear title title title title nameOfList" "control control control control control control" "performed performed performed view view view" "performed performed performed view view view" "performed performed performed view view view";
    height: 100vh;
    background-image: url("https://images.wallpaperscraft.com/image/network_plexus_face_124428_3840x2400.jpg");
    background-size: cover;
}

#title { 
    color: white;
    grid-area: title; 
    margin: auto;
    font-size: 5rem;
    text-shadow: 0 0 15px white;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0.5em;
    
}
#buttonTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: nameOfList;
    margin: auto; 
}

#buttonClear{
    grid-area: clear;
    margin: auto; 
}
#nameOfList { 
    color: #ffffff;
    background-color: transparent;
    line-height: 120%;
    border: 1px solid #ffffff;
    padding: 10px 12px;
    border-radius: 4px;
    transition: background-color ease 400ms;
    margin-bottom: 0.5em;
}
#nameOfList:hover {
color: white;
background-color: rgba(255, 255, 255, 0.3);
} 
#imageBackground { 
    color: #ffffff;
    background-color: transparent;
    line-height: 120%;
    border: 1px solid #ffffff;
    padding: 10px 12px;
    border-radius: 4px;
    transition: background-color ease 400ms;
    font-size: 1.2em;
}
#imageBackground:hover {
color: white;
background-color: rgba(255, 255, 255, 0.3);
} 
#clear { 
    color: #ffffff;
    background-color: transparent;
    line-height: 120%;
    border: 1px solid #ffffff;
    padding: 10px 12px;
    border-radius: 4px;
    transition: background-color ease 400ms;
}
#clear:hover {
color: white;
background-color: rgba(255, 255, 255, 0.3);
} 

#control { 
    grid-area: control; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 1fr;
    gap: 1px 1px;
    grid-template-areas: ". text text text text text ." ". counter counter counter counter counter ." ". . . . . . ." ". other other other other other .";
    justify-content: center;
    align-items: center;


}
#two{
    grid-area: counter;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-shadow: 0 0 15px white;
}
#counter{
    color: cornsilk;
}
#counterContinue{
    color: cornsilk;
}
#one{
    grid-area: text;
    display: flex;
}
#textInput{ 
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 12px;
    border-radius: 10px;
    color: white;
    width: 100vw;
    text-align: center;
    font-size: 2em;
    margin-right: 5px;
}
#textInput:hover {
    background-color: white;
    color: black;
    } 
#textInput::placeholder{
    color: black;
    text-align: center;

    }
    #textInput:focus{
        color: black;
        background-color: white;
        }

#prioritySelector{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 12px;
    border-radius: 10px;
    color: black;
    font-size: 2em;
    margin-right: 5px;
}
#prioritySelector:hover {
    background-color: white;
    } 
#addButton{
    background-color: rgba(63, 191, 63, 0.84);
    font-size: 1em;
    color: honeydew;
    text-align: center;
    padding: 1em 2em;
    border-radius: 50%;   
}
#addButton:hover {
    background-color: rgb(40, 229, 40);
    color: black;
    } 
#three{
    grid-area: other;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#undoButton{
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1em;
    color: honeydew;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 10px 12px;
    border-radius: 50%;
    margin-right: 5px;
    
}
#undoButton:hover {
    background-color: rgba(255, 255, 255, 0.7);
    } 
#sortButton{
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1em;
    color: honeydew;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 10px 12px;
    border-radius: 50%;  
    margin-right: 5px; 
}
#sortButton:hover {
    background-color: rgba(255, 255, 255, 0.7);
    } 

#searchInput{
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #ffffff;
    padding: 10px 12px;
    border-radius: 10px;
    color: white;
    width: 30em;
    text-align: center;
}
#searchInput:hover {
    background-color: rgba(255, 255, 255, 0.7);
    } 
#searchInput::placeholder{
color: white;
}
#searchInput:focus {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    } 


#view { 
    grid-area: view; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#Performed { 
    grid-area: performed; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.todoContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(153, 249, 153, 0.87);
    box-shadow: 0.3em 0.3em 0.5em white;
    margin: 0.5rem;
    border-radius: 10px;
    padding: 1em;
    height: 3em;
}
.todoText{
    flex: 5;
    text-align: center;
    font-weight: bold;
}
.todoCreatedAt{
    flex: 2;
}
.todoPriority{
    flex: 0.6 0 3px;
}
.checkBox{
    flex: 0.1 0 1px;
    order: -1;

}
.deleteButton{
    font-size: 1.5em;
    padding: 0.2em 0.5em;
    background-color: transparent;
    border: transparent;
    border-radius: 20%;
    color: red;
    flex: 0.2 0 3px;
}
.deleteButton:hover{
    background-color: rgba(236, 23, 23, 0.78);
    color: white;
    cursor: pointer;
}

input[type=checkbox]{
    background-color: transparent;
    transform: scale(3);
    border-radius: 50%;
    cursor: pointer;

}

#Performed>div{
    background-color: rgba(175, 175, 175, 0.78);
    text-decoration: line-through;
}